<div class="game__top-panel">
  <div class="game__timer">000</div>
  <div class="game__indicator">
    <button class="reset-btn button">
    </button>
  </div>
  <div class="game__flags-counter">009</div>
</div>