<header class="header">
  <div class="header__help-btn">
    <button class="help-btn button">
      <i class="far fa-question-circle"></i>
    </button>
  </div>
  <h1 class="header__title">Minesweeper</h1>
  <div class="header__menu">
    <ul class="header-menu">
      <li class="header-menu__item">
        <button class="stats-btn button">
          <i class="far fa-chart-bar"></i>
        </button>
      </li>
      <li class="header-menu__item">
        <button class="settings-btn button">
          <i class="fas fa-cog"></i>
        </button>
      </li>
    </ul>
  </div>
</header>