<div class="game__modal modal">
  <div class="modal__close-btn button">
    <i class="far fa-times-circle"></i>
  </div>
  <div class="modal__title">Win!</div>
  <div class="modal__content">
    
    Hello world
  </div>
</div>