<form class="settings" action="/">
  <div class="settings__row">
    <h3 class="settings__subtitle">Difficulty</h3>
    <select class="settings__difficulty-select" name="difficulty">
      <option value="easy">Easy (9x9, 10 mines)</option>
      <option value="medium">Medium (16x16, 40 mines)</option>
      <option value="expert">Expert (30x16, 99 mines)</option>      
    </select>
  </div>
  <div class="settings__row">
    <h3 class="settings__subtitle">Dark theme</h3>
    <input class="settings__dark-theme-checkbox" type="checkbox" name="dark-theme">
  </div>
</form>