
:root {
  --color-tone-11: white;
  --color-tone-10: #eceff1;
  --color-tone-9: #cfd8dc;
  --color-tone-8: #b0bec5;
  --color-tone-7: #90a4ae;
  --color-tone-6: #78909c;
  --color-tone-5: #607d8b;
  --color-tone-4: #546e7a;
  --color-tone-3: #455a64;
  --color-tone-2: #37474f;
  --color-tone-1: #263238;

  --text-color: var(--color-tone-2);

  --cell-highlight-bg: var(--color-tone-7);
  --cell-opened-bg: var(--color-tone-11);
  --cell-closed-bg: var(--color-tone-6);
  --cell-flagged-bg: var(--color-tone-6);
  --cell-border-top-right: var(--color-tone-4);
  --cell-border-bottom-left: var(--color-tone-8);
  --cell-mine-bg: #ff8a80;

  --game-field-border: var(--color-tone-4);
  --game-field-bg: var(--color-tone-4);

  --btn-color: var(--color-tone-4);
  --btn-color-hover: var(--color-tone-6);
  --btn-color-active: var(--color-tone-2);
  --btn-bg-focus: var(--color-tone-9);

  --main-font: "Clear Sans Regular", sans-serif;
  --main-font-bold: "Clear Sans Bold", sans-serif;
  --header-font: "Clear Sans", sans-serif;
  --font-size: 16px;

  --container-width: 1024px;
  --container-padding: 20px;
  --header-height: 60px;
  --footer-height: 60px;
  --header-max-width: 600px;
  --top-panel-height: 48px;
}

.dark-theme {
  --color-tone-1: white;
  --color-tone-2: #eceff1;
  --color-tone-3: #cfd8dc;
  --color-tone-4: #b0bec5;
  --color-tone-5: #90a4ae;
  --color-tone-6: #78909c;
  --color-tone-7: #607d8b;
  --color-tone-8: #546e7a;
  --color-tone-9: #455a64;
  --color-tone-10: #37474f;
  --color-tone-11: #263238;
}

$number-colors: #00418d, #00ba71, #f43545, #5f2879, #ff8901, #00c2de, #fad717, teal;

$container-width: var(--container-width);
$container-padding: var(--container-padding);
$footer-height: var(--footer-height);
$header-height: var(--header-height);
$animation-duration: 0.2s;

$light-bg-color: var(--light-bg-color);
$dark-bg-color: var(--dark-bg-color);
$header-color: var(--header-color);
$highlight-color: var(--highlight-color);
$dark-text-color: var(--dark-text-color);
$light-text-color: var(--light-text-color);

$main-color: var(--main-color);
$main-color-2: var(--main-color-2);
$main-color-contrast: var(--main-color-contrast);
$main-color-rgba-80: var(--main-color-rgba-80);
$main-color-rgba-50: var(--main-color-rgba-50);

$main-font: var(--main-font);
$header-font: var(--header-font);
$font-size: var(--font-size);

$adaptive-width-pc: 1024px;
$adaptive-width-tablet: 768px;
$adaptive-width-phone: 420px;
