.footer {
  height: var(--footer-height);
  max-width: var(--header-max-width);
  position: absolute;
  bottom: 0;
  left: $container-padding;
  right: $container-padding;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  // &__github-link {
  //   margin-right: 40px;
  // }
  
  // &__github-link:hover {
  //   color: $highlight-color;
  // }
  
}