.game-field {
  border: 1px solid var(--game-field-border);
  border-spacing: 0px;
  background: var(--game-field-bg);

  &__cell {
    width: 24px;
    height: 24px;
    border-radius: 3px;
    border: 1px solid var(--game-field-border);
    // transition: 0.1s ease-in;
    cursor: pointer;
    background-color: var(--cell-opened-bg);
    overflow: hidden;
    position: relative;

    &_closed,
    &_flagged {
      background-color: var(--cell-closed-bg);
      border: 2px solid;
      border-top-color: var(--cell-border-top-right);
      border-right-color: var(--cell-border-top-right);
      border-bottom-color: var(--cell-border-bottom-left);
      border-left-color: var(--cell-border-bottom-left);

      &:hover {
        border: 1px solid var(--game-field-border);
        background-color: var(--cell-highlight-bg);
      }

    }

    &_number-1, &_number-2,
    &_number-3, &_number-4,
    &_number-5, &_number-6,
    &_number-7, &_number-8,
    &_flagged, &_wrongly-flagged {
      font-weight: bold;
      font-size: 22px;

      &::before {
        position: absolute;
        top: -2px;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: transparent;
        text-align: center;
        pointer-events: none;
        user-select: none;
      }
    }

    &_flagged {
      background: url("../assets/flag.svg"), var(--cell-flagged-bg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 60%;
    }

    &_wrongly-flagged {
      background: url("../assets/flag.svg"), var(--cell-mine-bg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 60%;
    }

    &_highlighted {
      background: var(--cell-highlight-bg);
    }

    @for $i from 1 through 8 {
      &_number-#{$i} {
        color: nth($number-colors, $i); 
         &::before {
           content: "#{$i}";
         }
       }
    }

    &_mine {
      background: url("../assets/mine.svg"), var(--cell-opened-bg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 80%;
    }

    &_mine-blowned {
      background: url("../assets/mine.svg"), var(--cell-mine-bg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 80%;
    }
  }
}