.game-field {
  // border-collapse: collapse;
  border: 1px solid $main-color;

  tr {

  }

  td {

  }

  &__cell {
    width: 24px;
    height: 24px;
    border: 1px solid $main-color;
    border-radius: 3px;
    // transition: 0.1s ease-in;
    cursor: pointer;
    background-color: $main-color-contrast;

    &:hover {
      background-color: $main-color-contrast;
    }

    &_closed {
      background-color: $main-color-2;
    }

    &_number-1, &_number-2, &_number-3, &_number-4, &_number-5 {
      color: $main-color;
      font-weight: bold;
      font-size: 18px;
      &::before {
        display: block;
        width: 100%;
        height: 100%;
        background: transparent;
        text-align: center;
      }
    }
    &_number-1 {
      &::before {
        content: "1";
      }
    }

    &_number-2 {
      &::before {
        content: "2";
      }
    }

    &_number-3 {
      &::before {
        content: "3";
      }
    }

    &_number-4 {
      &::before {
        content: "4";
      }
    }

    &_number-5 {
      &::before {
        content: "5";
      }
    }

    &_empty {
      // background-color: $main-color-contrast;
    }

    &_mine {
      background: url("../assets/mine.svg"), $main-color-contrast;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 80%;
    }
  }
}