.header {
  position: absolute;
  top: 0;
  left: $container-padding;
  right: $container-padding;
  height: $header-height;
  max-width: var(--header-max-width);
  margin: 0 auto;
  border-bottom: 1px solid var(--color-tone-8);

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    text-align: center;
    line-height: $header-height;
    color: var(--color-tone-1);
    text-transform: uppercase;
    flex-grow: 0;
  }

  &__help-btn, &__menu {
    flex: 1 0 10%;
  }
}

.header-menu {
  display: flex;
  justify-content: flex-end;
}